<footer style="bottom:0; align;position:absolute;" class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p>&copy; 2023 Seller's Admin Page. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
